@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  overflow-x: hidden;
  color: rgb(var(--foreground-rgb));

  background: linear-gradient(to right, #0ea5e9, #4f46e5);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
.bgg {
  background-color: rgba(255, 255, 255, 0.13);
}
.sh {
  position: relative;
  /* Set a background color for the content */
  background-color: #fff; /* Replace with your desired background color */
}

.sh::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #ffffff9e, #00000000);
  z-index: 4;
}
h2,
h1 {
  line-height: 1;
}
.card {
  background-color: rgba(255, 255, 255, 0.13);
  width: 100%;
  height: 75px;
  justify-content: center;
  display: flex;
  gap: 5px;
  align-items: center;
}
.card h2,
h3,
h4,
h5 {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.2rem;
}
.gridd {
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 5px;
}

@media (min-width: 500px) {
  .gridd {
    place-items: center;
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    width: 100vw;
    gap: 5px;
  }
}
